@media (min-width: 992px) {
    
    .xs-small {
        display: none;
    }
    .xs-big {
        display: flex;
    }
    
}
@media (max-width: 991px) {
    .container {
        padding: 0 30px;
    }
    
    .xs-small {
        display: none;
    }
    .xs-big {
        display: flex;
    }

    .advantages {
        &__item {
            margin-right: 15px;
            &:nth-child(3) {
                margin-right: 0;
            }
        }

    }
    .consultation {
        .section-header_left {
            font-size: 32px;
        }
    }
    .slider {
        &__inner {
            width: 500px;
        }
        &__img {
            width: 500px;
        }
    }
    
        
}
@media (max-width: 767px) {
    .header {
        &__official {
            text-align: right;
            span {
                display: inline-block;
            }
            
        }
        &__call {
            margin-top: 15px;
            
        }
        
    }
    .xs-big {
        display: none;
    }
    .xs-small {
        display: block;
        text-align: center;
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 37px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            margin-top: 40px;
            align-items: center;
        }
        &__item {
            width: 75%;
            margin-bottom: 40px;
            margin-right: 0;
        }
        &__header {
            margin-top: 14px;
        }
        &__descr {
            margin-top: 19px;
        }
    }
    .consultation {
        .section-header_left {
            font-size: 24px;
            text-align: left;
        }
    }
    .slider {
        &__inner {
            width: 380px;
        }
        &__img {
            width: 380px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        flex-direction: column;
        text-align: center;
        &__official {
            text-align: center;
            order: 2;
            margin-top: 15px;
        }
        &__logo {
            order: 0;
        }
        &__call {
            order: 1;
        }
        
    }
    .xs-small {
        display: none;
    }
    .xs-big {
        display: flex;
    }
    .promo {
        &__header {
            font-size: 29px;
            text-align: center;
        }
        &__subheader {
            font-size: 19px;
            text-align: center;
        }
        &__icons {
            justify-content: center;
        }
        &__icon {
            font-size: 12px;
            width: 95px;
        }
    }
    .button_main {
        width: 250px;
    }
    .section-header {
        font-size: 20px;
    }
    .consultation {
        .section-header_left {
            font-size: 20px;
            line-height: 39px;
            text-align: center;
            margin: 0 auto;
        }
        .not-active {
            display: none;
        }
        &__descr {
            margin: 56px auto 0 auto;
            text-align: center;
        }
        .feed-form {
            width: 250px;
        }
    }
    .slider {
        &__inner {
            width: 230px;
        }
        &__img {
            width: 230px;
        }
        .slick-prev {
            right: -24px;
            
        }
        .slick-next {
            left: -21px;
        }
    }
}

