@media (min-width: 992px) {
    
    .xs-small {
        display: none;
    }
    .xs-big {
        display: flex;
    }
    
}
@media (max-width: 991px) {
    // .container {
    //     padding: 0 30px;
    // }
    
    .xs-small {
        display: none;
    }
    .xs-big {
        display: flex;
    }

    .advantages {
        &__item {
            margin-right: 15px;
            &:nth-child(3) {
                margin-right: 0;
            }
        }

    }
    .consultation {
        .section-header_left {
            font-size: 32px;
            padding-left: 20px;
        }
        &__descr {
            padding-left: 20px;
        }
        .feed-form {
            padding-left: 20px;
        }
    }
    .slider {
        padding-bottom: 0;
        min-height: 605px;
        &__inner {
            width: 500px;
        }
        &__img {
            width: 500px;
        }
    }
    
    .catalog {
        
        &__content {
            justify-content: center;
        }
        &__tabs {
            padding: 0 20px;
        }
    }
    .clients {
        &__wrapper {
            padding: 0 20px;
        }
        &__descr {
            font-size: 14px;
        }
    }
    .footer {
        &__info {
            width: 330px;
            height: 210px;
            padding: 50px 50px 60px 50px;
        }
        &__address, &__tel {
            margin-bottom: 20px;
            font-size: 14px;
        }
        &__social {
            &-item {
                width: 35px;
                height: 35px;
                img {
                    width: 40%;
                }
            }
        }
    }
        
}
@media (max-width: 767px) {
    .header {
        &__official {
            text-align: right;
            span {
                display: inline-block;
            }
            
        }
        &__call {
            margin-top: 15px; 
        }
    }
    .xs-big {
        display: none;
    }
    .xs-small {
        display: block;
        text-align: center;
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 37px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            margin-top: 40px;
            align-items: center;
        }
        &__item {
            width: 75%;
            margin-bottom: 40px;
            margin-right: 0;
        }
        &__header {
            margin-top: 14px;
        }
        &__descr {
            margin-top: 19px;
        }
    }
    .consultation {
        .section-header_left {
            font-size: 24px;
            text-align: left;
        }
    }
    .slider {
        &__inner {
            width: 380px;
        }
        &__img {
            width: 380px;
        }
    }
    .clients {
        &__descr {
            font-size: 12px;
        }
        &__content {
            margin-left: 0;
        }
    }
    .footer {
        &__info {
            height: 170px;
            padding: 37px 50px 60px 50px;
        }
        &__address, &__tel {
            margin-bottom: 10px;
        }
    }

    .overlay {
        .modal {
            width: 300px;
            min-height: 320px;
            padding: 35px;
            &__subtitle {
                font-size: 14px;
            }
            &__descr {
                font-size: 11px;
            }
            .feed-form_mt25 {
                width: 200px;
                input {
                    height: 30px;
                    font-size: 11px;
                }
                .button_form {
                    width: 222px;
                    height: 45px;
                    font-size: 12px;
                }
            }
        }
    }
    
}

@media (max-width: 575px) {
    .header {
        flex-direction: column;
        text-align: center;
        &__official {
            text-align: center;
            order: 2;
            margin-top: 15px;
        }
        &__logo {
            order: 0;
        }
        &__call {
            order: 1;
        }
        
    }
    .xs-small {
        display: none;
    }
    .xs-big {
        display: flex;
    }
    .promo {
        &__header {
            font-size: 29px;
            text-align: center;
        }
        &__subheader {
            font-size: 19px;
            text-align: center;
        }
        &__icons {
            justify-content: center;
        }
        &__icon {
            font-size: 12px;
            width: 95px;
        }
    }
    .button_main {
        width: 250px;
    }
    .section-header {
        font-size: 20px;
    }
    .consultation {
        .section-header_left {
            font-size: 20px;
            line-height: 39px;
            text-align: center;
            margin: 0 auto;
            padding: 0 20px;
        }
        .not-active {
            display: none;
        }
        &__descr {
            margin: 56px auto 0 auto;
            text-align: center;
            padding: 0 20px;
            font-size: 18px;
        }
        .feed-form {
            width: 250px;
        }
    }
    .slider {
        min-height: 366px;
        &__inner {
            width: 230px;
            #left, #right {
                width: 40%;
            }
        }
        &__img {
            width: 230px;
        }
        .slick-prev {
            right: -24px;
            
        }
        .slick-next {
            left: -21px;
        }
    }
    .catalog {
        padding-bottom: 40px;
        &__tabs {
            flex-direction: column;
            margin-top: 34px;
        }
        &__tab {
            margin-bottom: 10px;
        }
    }
    .clients {
        &__item {
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;
        }
        &__name {
            text-align: center;
            padding-right: 20px;
        }
        &__img {
            margin-bottom: 20px;
        }
        &__wrapper {
            margin-top: 30px;
        }
    }
    .footer {
        &__info {
            width: 320px;
            height: 170px;
            padding: 37px 40px 60px 40px;
        }
    }
    .overlay {
        .modal {
            width: 230px;
            min-height: 250px;
            padding: 15px;
            &__subtitle {
                font-size: 12px;
            }
            &__descr {
                font-size: 10px;
            }
            .feed-form_mt25 {
                width: 190px;
                margin-top: 10px;
                input {
                    height: 25px;
                    font-size: 11px;
                }
                .button_form {
                    width: 190px;
                    height: 30px;
                    font-size: 11px;
                }
            }
        }
    }
}

